@model CapaPresentacion.Models.Empleado

@{
    ViewBag.Title = "Eliminar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-4 p-4 shadow-sm">
    <h2 class="text-danger mb-4">¿Estás seguro de que deseas eliminar este empleado?</h2>

    <dl class="row">
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Correo:</dt>
        <dd class="col-sm-9">@Model.Correo</dd>

        <dt class="col-sm-3">Puesto:</dt>
        <dd class="col-sm-9">@Model.Puesto</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn" style="background-color: #03A63C; color: white;">Eliminar</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Cancelar</a>
    }
</div>
